<div class="header-resume" [class.active]="theme() === 'dark'">
  <div class="header-resume-area">
    <div class="header-resume-area-single">
      <div>
        <h2>Entradas</h2>
        <figure>
          <img src="assets/images/arrow-green.png" alt="Arrow green">
        </figure>
      </div>
      <strong>{{ totalSales() | brlCurrency }}</strong>
    </div>

    <div class="header-resume-area-single">
      <div>
        <h2>Saídas</h2>
        <figure>
          <img src="assets/images/arrow-wine.png" alt="Arrow wine">
        </figure>
      </div>
      <strong>{{ totalExpenses() | brlCurrency }}</strong>
    </div>

    <div class="header-resume-area-single">
      <div>
        <h2>Total</h2>
        <figure>
          <img src="assets/images/dolar.png" alt="Dólar">
        </figure>
      </div>
      <strong>{{ (totalSales() - totalExpenses()) | brlCurrency }}</strong>
    </div>
  </div>

  <ul class="slider-controller">
    <li><</li>
    <li>></li>
  </ul>
</div>
