<div class="header-resume-area" [class.active]="theme() === 'dark'">
  <div class="header-resume-area-single">
    <div>
      <h2>Entradas</h2>
      <figure>
        <img src="assets/images/arrow-green.png" alt="">
      </figure>
    </div>
    <strong>R$ 1.000,00</strong>
  </div>

  <div class="header-resume-area-single">
    <div>
      <h2>Saídas</h2>
      <figure>
        <img src="assets/images/arrow-wine.png" alt="">
      </figure>
    </div>
    <strong>R$ 1.000,00</strong>
  </div>

  <div class="header-resume-area-single">
    <div>
      <h2>Total</h2>
      <figure>
        <img src="assets/images/dolar.png" alt="">
      </figure>
    </div>
    <strong>R$ 1.000,00</strong>
  </div>
</div>
