@use 'theme_dark' as dark;
@use 'theme_light' as light;

.header {
  height: 212px;
  background: light.$color-secondary;
  padding: 2.75rem 0;
  position: relative;

  &.active {
    background: dark.$color-secondary;

    .header-wrapper {
      button {
        background: dark.$color-primary;
      }
    }
  }

  &-wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;

    @media (max-width: 1024px) {
      position: relative;
      top: 1.25rem;
    }

    a {
      display: flex;
      align-items: center;
      gap: .75rem;
      color: light.$color-text;

      @media (max-width: 320px) {
        gap: .375rem;
      }

      h1 {
        font-size: 1.5rem;

        @media (max-width: 320px) {
          font-size: 1.25rem;
        }
      }

      img {
        @media (max-width: 320px) {
          width: 34px;
        }
      }
    }

    button {
      display: inline-block;
      width: auto;
      height: auto;
      padding: 1rem 1.25rem;
      border-radius: .325rem;
      background: light.$color-secondary-hover;
      color: light.$color-text;
      transition: filter .3s;

      @media (max-width: 320px) {
        padding: .9375rem;
      }

      &:hover {
        filter: brightness(.9);
      }
    }
  }
}
