<section
  class="modal-container {{theme() === 'dark' ? 'dark' : ''}}"
  [class.active]="modalAppears()"
  (click)="outslideClick($event)"
>
  <div class="modal-area">
    <div>
      <h2>
        {{
          currenModaltMode === 'add'
          ?
            'Nova transação'
          :
            'Editar transação'
        }}
      </h2>

      <button
        class="modal-area-close"
        (click)="closeModal()"
        (document:keydown.escape)="closeModal()"
      >
        <fa-icon [icon]="faXmark"></fa-icon>
      </button>
    </div>

    <form
      class="modal-form"
      (ngSubmit)="onSubmit()"
      [formGroup]="form"
    >
      <div class="modal-form-field">
        <input
          placeholder="Descrição"
          type="text"
          name="description"
          formControlName="description"
        >
        <span
          *ngIf="hasError('description', 'required')"
        >
          A Descrição deve ser preenchida.
        </span>

        <span
          *ngIf="hasError('description', 'pattern')"
        >
          A Descrição não pode conter apenas espaços.
        </span>
      </div>

      <div class="modal-form-field">
        <input
          placeholder="Preço"
          type="number"
          name="amount"
          formControlName="amount"
        >

        <span
          *ngIf="hasError('amount', 'required')"
        >
         O Preço deve ser preenchido.
        </span>

        <span
          *ngIf="hasError('amount', 'pattern')"
        >
          o Preço não pode conter apenas espaços.
        </span>
      </div>

      <div class="modal-form-field">
        <input
          placeholder="Categoria"
          type="text"
          name="category"
          formControlName="category"
        >

        <span
          *ngIf="hasError('category', 'required')"
        >
          A Categoria deve ser preenchida.
        </span>

        <span
          *ngIf="hasError('category', 'pattern')"
        >
          A Categoria não pode conter apenas espaços.
        </span>
      </div>

      <div class="modal-form-options">
        <button
          [class.active]="type === 'Venda'"
          (click)="setType('Venda')"
          type="button"
        >
          <figure>
            <img
              src="assets/images/{{theme() === 'dark' ? 'arrow-green.png' : 'arrow-purple.png'}}" alt="Arrow purple"
            >
          </figure>
          <span>Venda</span>
        </button>
        <button
          [class.active]="type === 'Gasto'"
          (click)="setType('Gasto')"
          type="button"
        >
          <figure>
            <img src="assets/images/arrow-wine.png" alt="Arrow wine">
          </figure>
          <span>Gasto</span>
        </button>
      </div>

      <button type="submit">{{currenModaltMode === 'add' ? 'Cadastrar' : 'Editar'}}</button>
    </form>
  </div>
</section>
