$color-primary: #015F43;
$color-primary-hover: #00B37E;
$color-warning: #AA2834;
$color-warning-hover: #F75A68;
$color-secondary: #29292E;
$color-background: #202024;
$color-text: #E1E1E6;
$color-surface: #121214;
