$color-primary: #015F43;
$color-primary-hover: #00B37E;
$color-warning: #AA2834;
$color-warning-hover: #F75A68;
$color-secondary: #5429CC;
$color-background: #E1E1E6;
$color-text: #FFFFFF;
$color-surface: #FFFFFF;
