$color-primary: #015F43;
$color-primary-hover: #00B37E;
$color-warning: #FF6347;
$color-warning-hover: #BD3A22;
$color-secondary: #5429CC;
$color-secondary-hover: #6b3dec;
$color-background: #E1E1E6;
$color-text: #FFFFFF;
$color-surface: #FFFFFF;
