$color-primary: #015F43;
$color-primary-hover: #00B37E;
$color-warning: #FF6347;
$color-warning-hover: #BD3A22;
$color-secondary: #121214;
$color-background: #202024;
$color-text: #E1E1E6;
$color-surface: #29292E;
