<section *ngIf="transactions()!.length > 0" class="transactions-area" [class.active]="theme() === 'dark'">
  <ul class="transactions-area-header">
    <li>Descrição</li>
    <li>Valor</li>
    <li>Categoria</li>
    <li>Data</li>
  </ul>

  <ul class="transactions-area-list">
    <li *ngFor="let transaction of transactions()">
      <ul>
        <li>{{transaction.description}}</li>
        <li [ngClass]="transaction.type === 'Gasto' ? 'red' : 'green'">{{transaction.amount | brlCurrency}}</li>
        <li>
          <figure>
            <img src="assets/images/sale.svg" alt="Venda">
          </figure>
          <span>{{transaction.category}}</span>
        </li>
        <li>
          <figure>
            <img src="assets/images/calendar.svg" alt="Calendário">
          </figure>
          {{transaction.created_at | date:'dd/MM/yyyy'}}
        </li>
        <li>
          <button (click)="onDeleteButton(transaction)">
            <fa-icon [icon]="faTrash"></fa-icon>
          </button>
          <button (click)="onEditButton(transaction)">
            <fa-icon [icon]="faPen"></fa-icon>
          </button>
        </li>
      </ul>
    </li>
  </ul>
</section>
