@use 'theme_light' as light;
@use 'theme_dark' as dark;

.transactions-area {
  padding-top: 2.5rem;

  &.active {
    .transactions-area-header {
      li {
        color: dark.$color-text;
      }
    }

    .transactions-area-list {
      ul {
        background: dark.$color-secondary;

        li {
          color: dark.$color-text;

          &.green {
            color: dark.$color-primary !important;
          }

          button {
            &:nth-of-type(2) {
              fa-icon {
                color: light.$color-primary;
              }
            }
          }
        }
      }
    }
  }

  &-header {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    padding: 0 2rem 1.25rem 2rem;

    @media (max-width: 768px) {
      display: none;
    }

    li {
      font-weight: 500;
      color: dark.$color-surface;
    }
  }

  &-list {
    display: grid;
    gap: .75rem;

    ul {
      display: grid;
      grid-template-columns: repeat(5, 1fr);
      background: light.$color-surface;
      padding: 1.25rem 2rem;
      border-radius: 6px;

      @media (max-width: 768px) {
        grid-template-columns: repeat(2, 1fr);
        gap: .625rem;
      }

      li {
        display: flex;
        align-items: center;
        gap: .25rem;
        color: dark.$color-surface;

        &:nth-of-type(5) {
          display: flex;
          justify-content: flex-end;
          gap: .875rem;
        }

        &.red {
          color: light.$color-warning !important;

          &::before {
            content: '-';
          }
        }

        button {
          background: transparent;
          width: auto;
          height: auto;
          padding: .25rem 0 .25rem .5rem;

          fa-icon {
            font-size: 1.125rem;
          }

          &:nth-of-type(1) {
            fa-icon {
              color: light.$color-warning;
            }
          }

          &:nth-of-type(2) {
            fa-icon {
              color: dark.$color-surface
            }
          }
        }

        &:nth-of-type(1) {
          @media (max-width: 768px) {
            grid-column: 1 / 3;
          }
        }

        &:nth-of-type(2) {
          @media (max-width: 768px) {
            grid-row: 2 / 3;
            grid-column: 1 / 3;
            font-size: 1.5rem;
            font-weight: 600;
          }

        }

        &:nth-of-type(3) {
          @media (max-width: 768px) {
            display: flex;
            justify-content: flex-start;
            align-items: center;
            grid-row: 3 / 4;
            grid-column: 1 / 2;
          }

          @media (max-width: 360px) {
            grid-row: 3 / 4;
            grid-column: 1 / 4;
          }
        }

        &:nth-of-type(4) {
          @media (max-width: 768px) {
            display: flex;
            justify-content: flex-end;
            align-items: center;
            grid-row: 3 / 4;
            grid-column: 2 / 3;
          }

          @media (max-width: 360px) {
            justify-content: flex-start;
            grid-row: 4 / 5;
            grid-column: 1 / 4;
          }
        }

        &:nth-of-type(5) {
          @media (max-width: 768px) {
            display: flex;
            justify-content: space-between;
            flex-direction: row-reverse;
            grid-row: 4 / 5;
            grid-column: 1 / 4;

                      @media (max-width: 360px) {
            grid-row: 5 / 6;
          }

          }
        }
      }

    }
  }
}
