@use 'theme_light' as light;
@use 'theme_dark' as dark;

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: 'Roboto', sans-serif;
}

html {
  @media (max-width: 414px) {
    font-size: 14px;
  }

  @media (max-width: 300px) {
    font-size: 13px;
  }

  body {
    background: light.$color-background;
    color: light.$color-text;

    &.dark {
      background: dark.$color-background;
      color: dark.$color-text;

      input {
        background: dark.$color-secondary !important;
        color: dark.$color-text;
        border-color: transparent;

        &:focus {
          outline-color: dark.$color-primary;
        }
      }
    }

    h1, h2, h3 {
      letter-spacing: .5px;
    }

    input {
      background: light.$color-background;
      color: dark.$color-surface;
      font-size: 1rem;
      outline: none;
      border: none;
      padding-left: 1rem;
      letter-spacing: 1px;
      border: 1px solid #CCCCCC;

      &:focus {
        outline: 3px solid dark.$color-surface;
      }

      &::placeholder {
        font-weight: 500;
      }
    }

    button {
      border: none;
      outline: none;
      font-size: 1rem;
      font-weight: 600;
      letter-spacing: 1px;
      cursor: pointer;
    }

    input, button {
      width: 100%;
      height: 3.3125rem;
    }

    ul, li {
      list-style: none;
    }

    a {
      text-decoration: none;
    }

    img {
      display: block;
    }
  }
}
